<body id="notes-body"> 
  <div id="notes">
    <% unless @notes.blank? %>
      <% @notes.each do |note| %>
        <a href="<%= (url_for [note]) %>">
          <div class="note-wrapper col-md-4 col-sm-6">
            <div class="note">
              <h2><%= note.title %></h2>
              <p><%= "#{time_ago_in_words(note.created_at)} ago" %></p>
            </div>
          </div>
        </a>
      <% end %>
      <% else %>
        <%= controller.redirect_to root_url, :flash => { :error => "Sorry, no matching notes were found" } %>
    <% end %>
  </div>
</body>