/* Body */
html {
  height: 100%;
  padding-top: 60px;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

/* Global text styles */
h1, h2, h3 {
  font-family: "Oswald", sans-serif;
}

/* Navbar */
.navbar {
  border-radius: 0;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  border-bottom: 3px solid #3498db;
}

.navbar-form {
  margin: 8px 0px;
}

/* Flash Messages */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert > ul {
  list-style-type: none;
}

/* Social Sign In Buttons */
.social-signin {
  margin-top: 20px;
  margin-bottom: 20px;
}

a.btn.btn-block.btn-social {
  color: #fff;
}


