#notes-body {
  height: 100%;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.70), 
      rgba(255, 255, 255, 0.70)
    ), 
  url(/assets/cover.jpeg);
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.note-wrapper {
  padding-left: 0;
  padding-right: 0;
}

/* Notes */
#notes a {
  color: #000;
}

.note {
  margin: 10px; 
  padding: 10px;
  border-radius: 5px;
  height: 350px;
  background-color: #fff;
  overflow-y: auto;
}

.note h2 {
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.note:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}