/* Cover image */
body#welcome {
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.20), 
      rgba(0, 0, 0, 0.20)
    ), 
  url(/assets/cover.jpeg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -60px;
}

/* Banner */
#banner {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

#banner h1 {
  font-size: 64px;
  margin-bottom: 5px;
  margin-top: 0;
}

#banner h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
}

